footer {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%;
    background-color: rgba(0, 0, 0, .8); 
    color: white; 
    text-align: center; 
    padding: 0px 0; 
    z-index: 100; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
    border-top: 3px solid rgb(255, 255, 255); 
    display: flex;  
    height: 7%;
} 

#footerTitle
{
    position: relative;
    top: -10px;
}

.footerLinks
{
    position: relative;
    bottom: 17px;
}

.mainFooter { 
    width: 100%; 
    height: 100%; 
    justify-content: center; 
    align-content: center;
}

.bpaLogo { 
    position: absolute;
    bottom: 0px;
    max-width: 20vh;   
    padding: 4px; 
}
 
.fa { 
    transition: 0.2s ease;
    color: white;  
    text-decoration: none;
}

.fa-1 {
    position: absolute;
    left: calc(50% - 1.9rem);
}

.fa-2 {
    position: absolute;
    left: calc(50% - 1.1rem);
}

.fa-3 {
    position: absolute;
    left: calc(50% + 0.1rem);
}

.fa-4 {
    position: absolute;
    left: calc(50% + 1.2rem);
}

.fa-1:hover
{
    transition: 0.2s ease;
    font-size: 1.2rem;

    color: #4267B2;
}
.fa-2:hover
{
    transition: 0.2s ease;
    font-size: 1.2rem;

    background: linear-gradient(45deg, 
        #f09433 10%, 
        #e6683c 35%, 
        #dc2743 60%, 
        #cc2366 85%, 
        #bc1888 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-3:hover
{
    transition: 0.2s ease;
    font-size: 1.2rem;

    color: #1DA1F2;
}
.fa-4:hover
{
    transition: 0.2s ease;
    font-size: 1.2rem;

    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,9,9,1) 60%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
