@import url("./footer.css");
@import url("./header.css");

html {
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(27, 31, 35);
} 


.overlay {
    position: absolute;
    width: 100%; 
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);  
    z-index: -1;
}

.homePage {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

.About {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.aboutBand {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}